# Core GUI Framework
PySide6

# Image Processing & Manipulation
Pillow
opencv-python
scikit-image
tifffile

# Numerical & Scientific Computing
numpy
scipy
matplotlib
lmfit

# Excel File Handling
openpyxl

# SVG File Handling
svgwrite

# Build Tool (Needed to run pyinstaller)
pyinstaller
